<div class="container flex justify-center items-center">
  <div class="flex-1"></div>
  <form [formGroup]="questionForm" (ngSubmit)="addQuestion()" class="flex flex-col items-center">
    <div class="flex flex-row">
      <div class="mr-4 pr-4 question flex flex-col items-end">
        <h3 class="mb-6">Question</h3>
        <span class="p-float-label mb-4 ">
          <input pInputText id="username" formControlName="title" />
          <label htmlFor="username">Title</label>
        </span>
        <div class="mb-3">
          <p-dropdown formControlName="type" [options]="types" optionLabel="name"></p-dropdown>
        </div>
        <span class="p-float-label">
          <textarea rows="5" cols="30" pInputTextarea formControlName="explication" [autoResize]="true"></textarea>
          <label for="float-input">Explication</label>
        </span>
      </div>
      <div>
        <h3 class="mb-6">Answers</h3>
        <div formArrayName="answers">
          <div *ngFor="let answer of answers.controls; let i = index" class="form-group">
            <div [formGroupName]="i" class="mb-6 flex flex-row">
              <div class="p-float-label flex items-center mr-2">
                <input pInputText formControlName="title" [id]="'answer' + i" />
              </div>
              <div class="form-check flex items-center">
                <p-inputSwitch formControlName="valid" [id]="'valid' + i"></p-inputSwitch>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p-button class="mt-4 ml-4" label="Submit" icon="pi pi-check"
      styleClass="p-button-raised p-button-text p-button-secondary" type="submit"></p-button>
  </form>
  <div class="flex-1"></div>
</div>
