<div class="flex justify-center flex-col items-center">

  <form [formGroup]="loginForm" (ngSubmit)="login()" class="flex flex-col items-center">
    <span class="p-float-label mb-6 mt-4">
      <input type="text" pInputText formControlName="username" class="h-100">
      <label for="username">Username</label>
    </span>

    <span class=" p-float-label mb-4">
      <p-password formControlName="password" [feedback]="false"></p-password>
      <label for="password">Password</label>
    </span>
    <p-button type="submit" label="Se connecter"
      styleClass="p-button-raised p-button-text p-button-secondary"></p-button>
  </form>
</div>
